// skeleton css

.container {
  padding-top: 25px
}

.title {
  text-align: center;
}

.pageTitle {
  font-size: 3em;
}

.lower {
  display: flex;
  // flex-direction: column;
  justify-content: space-around;
  height: 80px;
  align-items: center;
  margin: 3%;
  text-align: center;
}

.lowerLeft {
  width: 33%;
  height: 100%;
}

.lowerRight {
  display: flex;
  justify-content: center;
  width: 40%;
  height: 100%;
}

.homeButton {
  text-align: center;
  // width: 100%;
}

.lowerTitleUpper {
  font-size: large;
}

.lowerTitleLower {
  margin: 5%;
  font-size: 2em;
  font-style: italic;
}

.rulesTitle {
  font-size: 2em;
}

// rules css

.rulesDiv {
  // margin-left: 25%;
  padding: 2.5%;
  margin: 2.5%;
  background-color: #32586b;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px;
  // width: 50%
}

.list {
  padding-left: 10%;
}

.listItem {
  list-style-type: square;
  padding-left: 5%
}

.diffOption {
  display: flex;
  justify-content: space-between;
}

// game css

.gameTitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: underline;
}

.gameContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // width: 50%;
}

.feedbacks {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  // padding-left: 25%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  // width: 50%;
}

.feedback {
  display: flex;
  justify-content: space-around;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  transition: 1s;
  width: 100%;
}

.priorGuess {
  font-size: 2em;
}

.circles {
  display: flex;
}

.circle {
  border: 3px solid black;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.selector {
  position: relative;
  transition: .25s
}

.selector:hover {
  background-color: grey;
  transition: .25s
}

.zero {
  background-color: #ed2939;
}

.one {
  background-color: #FFD300;
}

.two {
  background-color: #32cd32;
}

.colorModal {
  position: absolute;
  top:25px;
  z-index: 5;

  background-color: #32586b;
  padding: 15px;

  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-around;
}

.first {
  background-color: red;
}

.second {
  background-color: blue;
}

.third {
  background-color: green;
}

.fourth {
  background-color: orange;
}

.fifth {
  background-color: yellow;
}

.sixth {
  background-color: purple;
}

.seventh {
  background-color: pink;
}

.eighth {
  background-color: black;
}

.ninth {
  background-color: aquamarine;
}

.tenth {
  background-color: beige;
}

.correct {
  // margin-left: 25%;
  // width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 3em;
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px;
  border-radius: 3px;
  margin-bottom: 100px;
  padding: 25px;
}

.inputs {
  display: flex;
  justify-content: space-around;
  // width: 50%;
  // margin-left: 25%;
  margin-bottom: 300px
}

.selectors {
  display: flex;
  justify-content: space-around;
  width: 50%
}

.buttons {
  display: flex;
  justify-content: space-around;
  // margin-left: 25%;
  // width: 50%;
}

.scoreSubmit {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  margin: 15px;
  padding: 15px;
}

// home button

/* CSS */
.homeButton {
  backface-visibility: hidden;
  background: #668290;
  border: 0;
  border-radius: .375rem;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,Helvetica,sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: 1rem 1.25rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 80%;
  margin-left: 10%;
}

.homeButton:disabled {
  color: #787878;
  cursor: auto;
}

.homeButton:not(:disabled):hover {
  transform: scale(1.05);
}

.homeButton:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

.homeButton:focus {
  outline: 0 solid transparent;
}

.homeButton:focus:before {
  border-width: .125rem;
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

.homeButton:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.homeButton:not(:disabled):active {
  transform: translateY(.125rem);
}

.sideButton {
  backface-visibility: hidden;
  background: #668290;
  border: 0;
  border-radius: .375rem;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,Helvetica,sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: 1rem 1.25rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.sideButton:disabled {
  color: #787878;
  cursor: auto;
}

.sideButton:not(:disabled):hover {
  transform: scale(1.05);
}

.sideButton:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

.sideButton:focus {
  outline: 0 solid transparent;
}

.sideButton:focus:before {
  border-width: .125rem;
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

.sideButton:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.sideButton:not(:disabled):active {
  transform: translateY(.125rem);
}

/* CSS */
.button-49,
.button-49:after {
  width: 150px;
  height: 76px;
  line-height: 78px;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #000000 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #3bcc58;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-49:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: 'Give up';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #199131 3%, #3bcc58 5%, #3bcc58 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.button-49:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .button-49,
  .button-49:after {
    width: 200px;
    height: 86px;
    line-height: 88px;
  }
}